.navbar { border-radius:0; 
	.search { position: relative; width: 200px; height: 50px; line-height: 50px; display: inline-block;
		img { vertical-align: middle; }
		input[type="text"] { width: 70%; display: inline-block; background: transparent; border: none; vertical-align: middle;
			&:hover, &:focus { background: #f7f7f7; }
		}
	}
	li {
		a { cursor: pointer; }
	}
}

@mixin corner-triangle($width, $color) {
	position: absolute;
	top: 0;
	right: 0;
	width: 0; 
	height: 0; 
	border-top: $width solid $color; 
	border-left: $width solid transparent;
}
@mixin rotate($degrees) {
	/* Safari */
	-webkit-transform: rotate($degrees);

	/* Firefox */
	-moz-transform: rotate($degrees);

	/* IE */
	-ms-transform: rotate($degrees);

	/* Opera */
	-o-transform: rotate($degrees);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
@mixin triangle($color, $label_top, $label_right) {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	span { @include corner-triangle(65px, $color); }
	label {
		@include rotate(43deg);
		font-size: 11px;
		color: #fff;
		position: absolute;
		top: $label_top;
		right: $label_right;
		text-align: center;
	} 
}
.sale-triangle { 
	@include triangle(green, 10px, 7px);
}
.out-of-stock-triangle {
	@include triangle(red, 5px, 1px);
}
.modal-body {
	input[type="number"] { width: 20%; display: inline-block; }
	p { line-height: 34px;
		label { width: 25%; vertical-align: middle; }
	}
}
.checkoutForm {
	input { position: relative; }
}

/* Cookies */
.cookies_notification {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	color: #555;
	z-index: 9999999;
	border: 1px solid #ccc;
	background-color: #fff;
	p { text-align: center; }
}

/* Loading spinner */
.loading-spinner {
   display: block;
    height: 100px;
    left: 0;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 200px;
    z-index: 999;
}

/* Carousel */
.carousel-inner { 
	div {
		img { cursor: pointer; }
	}
}
.carousel-control.left, .carousel-control.right { background-image: none; }
.carousel-control.left span, .carousel-control.right span { color: #000; cursor: pointer; }

/* Animations */
.wrong-input.ng-touched.ng-invalid {
    border-color: red;
    -webkit-animation: shake .3s linear 2;
    -moz-animation: shake .3s linear 2;
    -o-animation: shake .3s linear 2;
    animation: shake .3s linear 2;
}
@-webkit-keyframes shake {
    from {
        left:0;
    }
    25% {
        left:-20px;
    }
    75% {
        left:+20px;
    }
    to {
        left:0;
    }
}
@-moz-keyframes shake {
    from {
        left:0;
    }
    25% {
        left:-20px;
    }
    75% {
        left:+20px;
    }
    to {
        left:0;
    }
}
@-o-keyframes shake {
    from {
        left:0;
    }
    25% {
        left:-20px;
    }
    75% {
        left:+20px;
    }
    to {
        left:0;
    }
}
@keyframes shake {
    from {
        left:0;
    }
    25% {
        left:-20px;
    }
    75% {
        left:+20px;
    }
    to {
        left:0;
    }
}

.product-overview.ng-enter, .product-overview.ng-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 
 
.product-overview.ng-leave.ng-leave-active,
.product-overview.ng-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}
 
.product-overview.ng-enter.ng-enter-active, 
.product-overview.ng-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}

/* Template */
/*!
 * Start Bootstrap - Shop Homepage HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
    h4 {
    	 white-space: nowrap;
    }
}

.thumbnail {
	position: relative;
	width: 100%;
    padding: 0;
    .caption-full {
    	padding: 9px;
    	color: #333;
    }
    .ratings { 
    	height: 40px;
    	padding-right: 10px;
	    padding-left: 10px;
	    color: #d17581; 
	}
	img {
	    width: 100%;
	}
	&:hover { box-shadow: 3px 3px 5px 6px #ccc; }
}

footer {
    margin: 50px 0;
}