<h3>Kategorije</h3>

<!--
<ul>
	<li><a ui-sref="categories.list({ categoryID: '1' })">Kategorija 1</a></li>
	<li><a ui-sref="categories.list({ categoryID: '2' })">Kategorija 2</a></li>
	<li><a ui-sref="categories.list({ categoryID: '3' })">Kategorija 3</a></li>
	<li><a ui-sref="categories.list({ categoryID: '4' })">Kategorija 4</a></li>
</ul>
-->
<ul>
	<li ng-repeat="category in categories">
		<a ui-sref="categories.products({ categoryID: category.id })">{{ category.category }}</a>
	</li>
</ul>

<ui-view></ui-view>