<h3>Privacy policy</h3>

<b>Zasebnost in piškotki</b>
<p>
Osebni podatki naših uporabnikov so eno izmed področij, kateremu posvečamo izredno skrb in pozornost. Poskrbimo, da so vse zahteve ne samo dosežene, ampak jih, če se le da, presežemo, saj se zavedamo občutljive narave tega področja.
</p>
<p>
Upravitelj spletne trgovine E-Store, E-Store d.o.o., je v skladu z Zakonom o varstvu osebnih podatkov (ZVOP-1-UPB1) zavezan k varovanju osebnih podatkov svojih uporabnikov.
</p>
<p>
Za potrebe poslovanja mimovrste=) zbira naslednje uporabnikove podatke:

    ime in priimek,
    naslov in kraj bivanja,
    naslov elektronske pošte (tvoje uporabniško ime),
    kontaktno telefonsko številko,
    ter ostale podatke, ki jih uporabniki vnesete v obrazce na spletnem mestu E-Store.
</p>
<p>
Za točnost podatkov, ki jih vnesete uporabniki, ne odgovarjamo.
</p>
<p>
Za potrebe zagotavljanja varnosti, se zbirajo tudi IP naslovi, iz katerih uporabniki dostopajo do spletnega mesta. Vsakemu uporabniku je ob začetku obiska dodeljen sejni piškotek za identifikacijo in spremljanje nakupovalne košarice. Na vaš računalnik lahko E-Store med drugimi shrani tudi druge piškotke, kot so: identifikacijska številka uporabnika v šifrirani obliki (za prepoznavanje uporabnika ob naslednjem obisku), ocene artiklov (da veste, katere artikle ste že ocenili) ter piškotki sistema Google Analytics (analiza obiskov spletnega mesta).
</p>
<p>
Vsi omenjeni podatki, razen piškotkov, se na strežniku E-Store shranjujejo trajno. Sejni piškotki se v pomnilnik strežnika shranjujejo le za čas trajanja obiska in se izbrišejo po eni uri neaktivnosti, trajni piškotki pa so shranjeni na računalniku obiskovalca.
</p>
<p>
Upravitelj E-Store lahko podatke v anonimizirani sumarni obliki uporabi za namene statističnih analiz. E-Store podatkov o uporabnikih v nobenem primeru ne bo predal nepooblaščenim osebam. Dostavni službi (npr. Pošta Slovenije) bomo zaupali le uporabnikov naslov za dostavo. Z uporabnikom bomo stopili v stik preko sredstev komunikacije na daljavo le, če uporabnik temu izrecno ne nasprotuje.
</p>

<b>Izjemno razkritje osebnih podatkov</b>
<p>
Podatki, ki jih E-Store zbira in obdeluje, bodo razkriti le, če je taka obveznost določena v zakonu, ali v dobri veri, da je tako ukrepanje potrebno za postopke pred sodišči ali drugimi državnimi organi ter za zaščito in uresničevanje zakonitih interesov E-Store.
</p>