<div class="col-md-3">
	<!-- Categories -->
    <p class="lead">Kategorije</p>
    <div class="list-group">
        <a ng-repeat="category in categories" ui-sref="products({ categoryID: category.id })" class="list-group-item">{{ category.category }}</a>
    </div>
</div>

<!-- Carousel -->
<div class="col-md-9">
    <div class="row carousel-holder">
		<div class="col-md-12">
			<h3>Top 5 izdelkov</h3>
			<action-carousel sale="productsOnSale"></action-carousel>
		</div>
	</div>
</div>

<!-- Last added products -->
<div class="col-md-9 pull-right">
	<div class="row">
		<div class="col-md-12">
			<h3>Zadnji dodani</h3>
		</div>
        <div class="col-sm-4 col-lg-4 col-md-4 product-overview" ng-repeat="product in lastAddedProducts">
        	<product_overview product="product" cart="cart"></product_overview>
        </div>
	</div>
</div>

<ui-view></ui-view>